# ##############################################################################
# project ----------------------------------------------------------------------
# ##############################################################################

.idea

# virtualenv

/bin
/include
/lib
/share

# setuptools

/build
/dist
/*.egg-info

# private

/webed/static/ext
/webed/static/webed-ext/all-classes.*.js
/webed/templates/index.html
/webed/config/production.py
/webed/config/production.sql

# ##############################################################################
# global -----------------------------------------------------------------------
# ##############################################################################

# ------------------------------------------------------------------------------
# temporary files ##############################################################
# ------------------------------------------------------------------------------

*~
*.swp

# ------------------------------------------------------------------------------
# compiled source ##############################################################
# ------------------------------------------------------------------------------

*.com
*.class
*.pyc
*.dll
*.exe
*.o
*.so

# ------------------------------------------------------------------------------
# archives: use git's built-in compression #####################################
# ------------------------------------------------------------------------------

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ------------------------------------------------------------------------------
# logs and databases ###########################################################
# ------------------------------------------------------------------------------

*.log
*.db
*.db-journal

# ------------------------------------------------------------------------------
# operating system generated files #############################################
# ------------------------------------------------------------------------------

.DS_Store?
ehthumbs.db
Icon?
Thumbs.db

# ##############################################################################
# ##############################################################################
