# ##############################################################################
# project ----------------------------------------------------------------------
# ##############################################################################

.idea

# virtualenv

/bin
/include
/lib
/share

# setuptools

/build
/dist
/*.egg-info

# private

/webed/config/production.py
/webed/config/production.sql

/webed/static/.sencha/workspace/sencha.cfg
/webed/static/.webassets-cache

/webed/static/ext
/webed/static/all-classes.excl.js
/webed/static/all-classes.incl.js
/webed/static/all-classes.????????.js
/webed/static/webed-ext/resources/theme/theme-*.css

# ##############################################################################
# global -----------------------------------------------------------------------
# ##############################################################################

# ------------------------------------------------------------------------------
# temporary files ##############################################################
# ------------------------------------------------------------------------------

*~
*.swp

# ------------------------------------------------------------------------------
# compiled source ##############################################################
# ------------------------------------------------------------------------------

*.com
*.class
*.pyc
*.dll
*.exe
*.o
*.so

# ------------------------------------------------------------------------------
# archives: use git's built-in compression #####################################
# ------------------------------------------------------------------------------

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ------------------------------------------------------------------------------
# logs and databases ###########################################################
# ------------------------------------------------------------------------------

*.log
*.log.*
*.db
*.db-journal

# ------------------------------------------------------------------------------
# operating system generated files #############################################
# ------------------------------------------------------------------------------

.DS_Store?
ehthumbs.db
Icon?
Thumbs.db

# ##############################################################################
# ##############################################################################
