[submodule "webed/static/ico/fatcow.git"]
	path = webed/static/ico/fatcow.git
	url = https://github.com/hsk81/fatcow-hosting-icon.git
[submodule "webed/static/lib/extjs.git"]
	path = webed/static/lib/extjs.git
	url = https://github.com/hsk81/extjs.git
[submodule "webed/static/lib/node-uuid.git"]
	path = webed/static/lib/node-uuid.git
	url = https://github.com/hsk81/node-uuid.git
[submodule "webed/static/app-test/lib/jasmine.git"]
	path = webed/static/app-test/lib/jasmine.git
	url = https://github.com/hsk81/jasmin-standalone.git
[submodule "webed/static/lib/codemirror.git"]
	path = webed/static/lib/codemirror.git
	url = https://github.com/hsk81/CodeMirror.git
[submodule "webed/static/lib/jquery.git"]
	path = webed/static/lib/jquery.git
	url = https://github.com/hsk81/jquery-standalone.git
[submodule "webed/static/lib/typojs.git"]
	path = webed/static/lib/typojs.git
	url = https://github.com/hsk81/Typo.js.git
[submodule "webed/static/lib/dmp.git"]
	path = webed/static/lib/dmp.git
	url = https://github.com/hsk81/google-diff-match-patch
[submodule "webed/static/lib/jasmine.git"]
	path = webed/static/lib/jasmine.git
	url = https://github.com/hsk81/jasmine-standalone.git
[submodule "webed/static/webed-ext/dat"]
	path = webed/static/webed-ext/dat
	url = https://github.com/hsk81/notex.dat.git
