[submodule "static/lib/extjs.git"]
	path = static/lib/extjs.git
	url = git@github.com:hsk81/extjs.git
[submodule "static/ico/fatcow.git"]
	path = static/ico/fatcow.git
	url = git@github.com:hsk81/fatcow-hosting-icon.git
[submodule "static/lib/node-uuid.git"]
	path = static/lib/node-uuid.git
	url = git@github.com:hsk81/node-uuid.git
[submodule "static/lib/jquery.git"]
	path = static/lib/jquery.git
	url = https://github.com/jquery/jquery.git
