#Sat, 16 Mar 2013 13:32:07 +0500
# This configuration property (if set) is included by default in all compile commands
# executed according to this formulation:
#
#   sencha compile -classpath=...,${framework.classpath},${workspace.classpath},${app.classpath}
#
#workspace.classpath=
workspace.build.dir=${workspace.dir}/build/${app.name}

ext.dir=${workspace.dir}/ext
workspace.cmd.version=3.0.2.288
