.icon-css-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -342px 0 !important; }
.icon-document_inspect-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -18px 0 !important; }
.icon-folder-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat 0 0 !important; }
.icon-html-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -36px 0 !important; }
.icon-node-tree-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -90px 0 !important; }
.icon-page_white_c-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -180px 0 !important; }
.icon-page_white_code_red-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -270px 0 !important; }
.icon-page_white_cplusplus-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -306px 0 !important; }
.icon-page_white_csharp-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -288px 0 !important; }
.icon-page_white_cup-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -252px 0 !important; }
.icon-page_white_database-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -108px 0 !important; }
.icon-page_white_get-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -126px 0 !important; }
.icon-page_white_go-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -234px 0 !important; }
.icon-page_white_h-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -324px 0 !important; }
.icon-page_white_php-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -162px 0 !important; }
.icon-page_white_ruby-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -72px 0 !important; }
.icon-page_white_text-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -144px 0 !important; }
.icon-page_white-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -198px 0 !important; }
.icon-page-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -54px 0 !important; }
.icon-picture-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -216px 0 !important; }
