.icon-flag_albania-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -918px 0 !important; }
.icon-flag_anguilla-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1224px 0 !important; }
.icon-flag_antigua_and_barbuda-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1326px 0 !important; }
.icon-flag_argentina-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -34px 0 !important; }
.icon-flag_armenia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -816px 0 !important; }
.icon-flag_australia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -68px 0 !important; }
.icon-flag_austria-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1683px 0 !important; }
.icon-flag_azerbaijan-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1479px 0 !important; }
.icon-flag_bahamas-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -646px 0 !important; }
.icon-flag_bangladesh-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -731px 0 !important; }
.icon-flag_belarus-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1071px 0 !important; }
.icon-flag_belgium-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -476px 0 !important; }
.icon-flag_belize-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1122px 0 !important; }
.icon-flag_bolivia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -850px 0 !important; }
.icon-flag_bosnia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -544px 0 !important; }
.icon-flag_botswana-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -714px 0 !important; }
.icon-flag_brazil-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1275px 0 !important; }
.icon-flag_bulgaria-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -289px 0 !important; }
.icon-flag_canada-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -493px 0 !important; }
.icon-flag_chile-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1360px 0 !important; }
.icon-flag_china-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -85px 0 !important; }
.icon-flag_colombia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -527px 0 !important; }
.icon-flag_costa_rica-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1445px 0 !important; }
.icon-flag_croatia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -884px 0 !important; }
.icon-flag_cuba-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -306px 0 !important; }
.icon-flag_czech_republic-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1190px 0 !important; }
.icon-flag_denmark-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1496px 0 !important; }
.icon-flag_dominican_republic-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1394px 0 !important; }
.icon-flag_el_salvador-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1513px 0 !important; }
.icon-flag_england-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -272px 0 !important; }
.icon-flag_equador-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -153px 0 !important; }
.icon-flag_estonia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1615px 0 !important; }
.icon-flag_finland-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1411px 0 !important; }
.icon-flag_france-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1717px 0 !important; }
.icon-flag_germany-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1037px 0 !important; }
.icon-flag_ghana-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -391px 0 !important; }
.icon-flag_great_britain-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -204px 0 !important; }
.icon-flag_greece-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1258px 0 !important; }
.icon-flag_guam-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -238px 0 !important; }
.icon-flag_guatemala-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -833px 0 !important; }
.icon-flag_honduras-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -629px 0 !important; }
.icon-flag_hong_kong-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -952px 0 !important; }
.icon-flag_hungary-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -17px 0 !important; }
.icon-flag_iceland-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1530px 0 !important; }
.icon-flag_india-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -51px 0 !important; }
.icon-flag_indonesia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1088px 0 !important; }
.icon-flag_iran-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -374px 0 !important; }
.icon-flag_iraq-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1207px 0 !important; }
.icon-flag_ireland-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1343px 0 !important; }
.icon-flag_israel-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -170px 0 !important; }
.icon-flag_italy-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -255px 0 !important; }
.icon-flag_jamaica-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1581px 0 !important; }
.icon-flag_japan-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -323px 0 !important; }
.icon-flag_kazakhstan-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -102px 0 !important; }
.icon-flag_kenya-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -748px 0 !important; }
.icon-flag_latvia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1156px 0 !important; }
.icon-flag_liechtenstein-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -510px 0 !important; }
.icon-flag_lithuania-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -867px 0 !important; }
.icon-flag_luxembourg-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1377px 0 !important; }
.icon-flag_mexico-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1666px 0 !important; }
.icon-flag_mongolia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -697px 0 !important; }
.icon-flag_mozambique-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -663px 0 !important; }
.icon-flag_namibia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -357px 0 !important; }
.icon-flag_nepal-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -680px 0 !important; }
.icon-flag_netherlands-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -136px 0 !important; }
.icon-flag_new_zealand-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1598px 0 !important; }
.icon-flag_nicaragua-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -969px 0 !important; }
.icon-flag_nigeria-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1003px 0 !important; }
.icon-flag_north_korea-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -595px 0 !important; }
.icon-flag_northern_mariana_islands-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -578px 0 !important; }
.icon-flag_norway-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -901px 0 !important; }
.icon-flag_pakistan-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1241px 0 !important; }
.icon-flag_panama-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat 0 0 !important; }
.icon-flag_paraquay-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1139px 0 !important; }
.icon-flag_peru-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -459px 0 !important; }
.icon-flag_philippines-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1428px 0 !important; }
.icon-flag_poland-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -408px 0 !important; }
.icon-flag_portugal-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1547px 0 !important; }
.icon-flag_puerto_rico-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -935px 0 !important; }
.icon-flag_romania-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -561px 0 !important; }
.icon-flag_russia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1632px 0 !important; }
.icon-flag_scotland-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1054px 0 !important; }
.icon-flag_serbia_montenegro-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1309px 0 !important; }
.icon-flag_slovakia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1020px 0 !important; }
.icon-flag_slovenia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -221px 0 !important; }
.icon-flag_singapore-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1564px 0 !important; }
.icon-flag_south_africa-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1700px 0 !important; }
.icon-flag_south_korea-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1105px 0 !important; }
.icon-flag_spain-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1292px 0 !important; }
.icon-flag_sweden-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -782px 0 !important; }
.icon-flag_switzerland-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -425px 0 !important; }
.icon-flag_tanzania-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -340px 0 !important; }
.icon-flag_trinidad_and_tobago-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -799px 0 !important; }
.icon-flag_turkey-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -986px 0 !important; }
.icon-flag_ukraine-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -187px 0 !important; }
.icon-flag_united_nations-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -119px 0 !important; }
.icon-flag_uruquay-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -442px 0 !important; }
.icon-flag_usa-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -612px 0 !important; }
.icon-flag_venezuela-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1462px 0 !important; }
.icon-flag_vietnam-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1649px 0 !important; }
.icon-flag_zambia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -765px 0 !important; }
.icon-flag_zimbabwe-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1173px 0 !important; }
