.icon-add-16 { width: 16px; height: 16px; background: url('sprite-main.png') no-repeat -72px 0 !important; }
.icon-cross-16 { width: 16px; height: 16px; background: url('sprite-main.png') no-repeat -234px 0 !important; }
.icon-delete-16 { width: 16px; height: 16px; background: url('sprite-main.png') no-repeat -180px 0 !important; }
.icon-disk-16 { width: 16px; height: 16px; background: url('sprite-main.png') no-repeat -216px 0 !important; }
.icon-exclamation-16 { width: 16px; height: 16px; background: url('sprite-main.png') no-repeat -54px 0 !important; }
.icon-folder-16 { width: 16px; height: 16px; background: url('sprite-main.png') no-repeat -36px 0 !important; }
.icon-folder_add-16 { width: 16px; height: 16px; background: url('sprite-main.png') no-repeat -198px 0 !important; }
.icon-folder_page-16 { width: 16px; height: 16px; background: url('sprite-main.png') no-repeat -18px 0 !important; }
.icon-page_white-16 { width: 16px; height: 16px; background: url('sprite-main.png') no-repeat -108px 0 !important; }
.icon-page_white_add-16 { width: 16px; height: 16px; background: url('sprite-main.png') no-repeat 0 0 !important; }
.icon-page_white_text-16 { width: 16px; height: 16px; background: url('sprite-main.png') no-repeat -270px 0 !important; }
.icon-page_white_zip-16 { width: 16px; height: 16px; background: url('sprite-main.png') no-repeat -90px 0 !important; }
.icon-pencil-16 { width: 16px; height: 16px; background: url('sprite-main.png') no-repeat -252px 0 !important; }
.icon-question-16 { width: 16px; height: 16px; background: url('sprite-main.png') no-repeat -126px 0 !important; }
.icon-report_add-16 { width: 16px; height: 16px; background: url('sprite-main.png') no-repeat -144px 0 !important; }
.icon-tick-16 { width: 16px; height: 16px; background: url('sprite-main.png') no-repeat -162px 0 !important; }
