.icon-arrow_undo-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -391px 0 !important; }
.icon-application_tile_horizontal-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -442px 0 !important; }
.icon-application_tile_vertical-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -68px 0 !important; }
.icon-arrow_redo-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -323px 0 !important; }
.icon-cut-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -170px 0 !important; }
.icon-document_page_next-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -493px 0 !important; }
.icon-document_page_previous-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat 0 0 !important; }
.icon-find-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -595px 0 !important; }
.icon-hrule-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -425px 0 !important; }
.icon-image-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -272px 0 !important; }
.icon-image_add-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -340px 0 !important; }
.icon-link-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -204px 0 !important; }
.icon-link_add-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -306px 0 !important; }
.icon-page_white_copy-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -374px 0 !important; }
.icon-paste_plain-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -238px 0 !important; }
.icon-picture-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -544px 0 !important; }
.icon-picture_add-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -612px 0 !important; }
.icon-stop-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -510px 0 !important; }
.icon-text_allcaps-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -102px 0 !important; }
.icon-text_bold-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -136px 0 !important; }
.icon-text_heading_1-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -187px 0 !important; }
.icon-text_heading_2-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -119px 0 !important; }
.icon-text_heading_3-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -34px 0 !important; }
.icon-text_heading_4-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -357px 0 !important; }
.icon-text_heading_5-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -578px 0 !important; }
.icon-text_heading_6-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -459px 0 !important; }
.icon-text_horizontalrule-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -153px 0 !important; }
.icon-text_indent_remove-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -527px 0 !important; }
.icon-text_indent-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -51px 0 !important; }
.icon-text_italic-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -408px 0 !important; }
.icon-text_list_bullets-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -17px 0 !important; }
.icon-text_list_numbers-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -289px 0 !important; }
.icon-text_lowercase-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -255px 0 !important; }
.icon-text_replace-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -85px 0 !important; }
.icon-text_subscript-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -476px 0 !important; }
.icon-text_superscript-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -561px 0 !important; }
.icon-text_uppercase-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -221px 0 !important; }
