.icon-arrow_undo-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -18px 0 !important; }
.icon-application_tile_horizontal-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -504px 0 !important; }
.icon-application_tile_vertical-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -540px 0 !important; }
.icon-arrow_redo-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -396px 0 !important; }
.icon-cut-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -54px 0 !important; }
.icon-document_comment_below-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -108px 0 !important; }
.icon-document_index-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -468px 0 !important; }
.icon-document_page_next-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -90px 0 !important; }
.icon-document_page_previous-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -324px 0 !important; }
.icon-find-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -558px 0 !important; }
.icon-hrule-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -198px 0 !important; }
.icon-image-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -486px 0 !important; }
.icon-image_add-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -450px 0 !important; }
.icon-link-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -306px 0 !important; }
.icon-link_add-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -342px 0 !important; }
.icon-page_white_copy-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -270px 0 !important; }
.icon-paste_plain-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -180px 0 !important; }
.icon-picture_add-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -252px 0 !important; }
.icon-stop-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -72px 0 !important; }
.icon-text_allcaps-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -612px 0 !important; }
.icon-text_bold-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -432px 0 !important; }
.icon-text_heading_1-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -288px 0 !important; }
.icon-text_heading_2-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -414px 0 !important; }
.icon-text_heading_3-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -648px 0 !important; }
.icon-text_heading_4-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -162px 0 !important; }
.icon-text_heading_5-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -216px 0 !important; }
.icon-text_heading_6-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -576px 0 !important; }
.icon-text_indent_remove-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat 0 0 !important; }
.icon-text_indent-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -36px 0 !important; }
.icon-text_italic-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -630px 0 !important; }
.icon-text_list_bullets-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -234px 0 !important; }
.icon-text_list_numbers-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -594px 0 !important; }
.icon-text_lowercase-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -378px 0 !important; }
.icon-text_replace-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -144px 0 !important; }
.icon-text_subscript-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -522px 0 !important; }
.icon-text_superscript-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -360px 0 !important; }
.icon-text_uppercase-16 { width: 16px; height: 16px; background: url('sprite-tbar.png') no-repeat -126px 0 !important; }
