.icon-add-16 { width: 16px; height: 16px; background: url(../../../ico/fatcow/16x16/add.png) !important; }
.icon-cross-16 { width: 16px; height: 16px; background: url(../../../ico/fatcow/16x16/cross.png) !important; }
.icon-e_book_reader_white-16 { width: 16px; height: 16px; background: url(../../../ico/fatcow/16x16/e_book_reader_white.png) !important; }
.icon-delete-16 { width: 16px; height: 16px; background: url(../../../ico/fatcow/16x16/delete.png) !important; }
.icon-disk-16 { width: 16px; height: 16px; background: url(../../../ico/fatcow/16x16/disk.png) !important; }
.icon-exclamation-16 { width: 16px; height: 16px; background: url(../../../ico/fatcow/16x16/exclamation.png) !important; }
.icon-folder-16 { width: 16px; height: 16px; background: url(../../../ico/fatcow/16x16/folder.png) !important; }
.icon-folder_add-16 { width: 16px; height: 16px; background: url(../../../ico/fatcow/16x16/folder_add.png) !important; }
.icon-folder_page-16 { width: 16px; height: 16px; background: url(../../../ico/fatcow/16x16/folder_page.png) !important; }
.icon-git_orange-16 { width: 16px; height: 16px; background: url(../../../ico/fatcow/16x16/git_orange.png) !important; }
.icon-page_white-16 { width: 16px; height: 16px; background: url(../../../ico/fatcow/16x16/page_white.png) !important; }
.icon-page_white_add-16 { width: 16px; height: 16px; background: url(../../../ico/fatcow/16x16/page_white_add.png) !important; }
.icon-page_white_text-16 { width: 16px; height: 16px; background: url(../../../ico/fatcow/16x16/page_white_text.png) !important; }
.icon-page_white_zip-16 { width: 16px; height: 16px; background: url(../../../ico/fatcow/16x16/page_white_zip.png) !important; }
.icon-pencil-16 { width: 16px; height: 16px; background: url(../../../ico/fatcow/16x16/pencil.png) !important; }
.icon-question-16 { width: 16px; height: 16px; background: url(../../../ico/fatcow/16x16/question.png) !important; }
.icon-report_add-16 { width: 16px; height: 16px; background: url(../../../ico/fatcow/16x16/report_add.png) !important; }
.icon-save_as-16 { width: 16px; height: 16px; background: url(../../../ico/fatcow/16x16/save_as.png) !important; }
.icon-sum-16 { width: 16px; height: 16px; background: url(../../../ico/fatcow/16x16/sum.png) !important; }
.icon-tick-16 { width: 16px; height: 16px; background: url(../../../ico/fatcow/16x16/tick.png) !important; }
