.icon-css-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -357px 0 !important; }
.icon-document_inspect-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -289px 0 !important; }
.icon-folder-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -34px 0 !important; }
.icon-html-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -119px 0 !important; }
.icon-node-tree-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -187px 0 !important; }
.icon-page_white_c-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -102px 0 !important; }
.icon-page_white_code-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -408px 0 !important; }
.icon-page_white_code_red-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -255px 0 !important; }
.icon-page_white_cplusplus-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -238px 0 !important; }
.icon-page_white_csharp-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -391px 0 !important; }
.icon-page_white_cup-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -68px 0 !important; }
.icon-page_white_database-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -170px 0 !important; }
.icon-page_white_get-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -306px 0 !important; }
.icon-page_white_go-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -153px 0 !important; }
.icon-page_white_h-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -17px 0 !important; }
.icon-page_white_php-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -221px 0 !important; }
.icon-page_white_ruby-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat 0 0 !important; }
.icon-page_white_text-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -374px 0 !important; }
.icon-page_white_world-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -85px 0 !important; }
.icon-page_white-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -136px 0 !important; }
.icon-page-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -340px 0 !important; }
.icon-picture-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -272px 0 !important; }
.icon-report_latex-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -51px 0 !important; }
.icon-report_rest-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -204px 0 !important; }
.icon-report-16 { width: 16px; height: 16px; background: url('sprite-mime.png') no-repeat -323px 0 !important; }
