.icon-flag_albania-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1404px 0 !important; }
.icon-flag_anguilla-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -720px 0 !important; }
.icon-flag_antigua_and_barbuda-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1710px 0 !important; }
.icon-flag_argentina-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -486px 0 !important; }
.icon-flag_armenia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1818px 0 !important; }
.icon-flag_australia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -18px 0 !important; }
.icon-flag_austria-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -378px 0 !important; }
.icon-flag_azerbaijan-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -702px 0 !important; }
.icon-flag_bahamas-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1728px 0 !important; }
.icon-flag_bangladesh-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1098px 0 !important; }
.icon-flag_belarus-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1638px 0 !important; }
.icon-flag_belgium-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1296px 0 !important; }
.icon-flag_belize-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1278px 0 !important; }
.icon-flag_bolivia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1080px 0 !important; }
.icon-flag_bosnia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -756px 0 !important; }
.icon-flag_botswana-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -180px 0 !important; }
.icon-flag_brazil-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -900px 0 !important; }
.icon-flag_bulgaria-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -522px 0 !important; }
.icon-flag_canada-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1260px 0 !important; }
.icon-flag_chile-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -126px 0 !important; }
.icon-flag_china-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -54px 0 !important; }
.icon-flag_colombia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -990px 0 !important; }
.icon-flag_costa_rica-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -576px 0 !important; }
.icon-flag_croatia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1206px 0 !important; }
.icon-flag_cuba-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1602px 0 !important; }
.icon-flag_czech_republic-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -468px 0 !important; }
.icon-flag_denmark-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1332px 0 !important; }
.icon-flag_dominican_republic-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1530px 0 !important; }
.icon-flag_el_salvador-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -864px 0 !important; }
.icon-flag_england-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1620px 0 !important; }
.icon-flag_equador-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1350px 0 !important; }
.icon-flag_estonia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -306px 0 !important; }
.icon-flag_finland-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat 0 0 !important; }
.icon-flag_france-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -414px 0 !important; }
.icon-flag_germany-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -540px 0 !important; }
.icon-flag_ghana-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -90px 0 !important; }
.icon-flag_great_britain-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1026px 0 !important; }
.icon-flag_greece-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -594px 0 !important; }
.icon-flag_guam-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -918px 0 !important; }
.icon-flag_guatemala-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -738px 0 !important; }
.icon-flag_honduras-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -144px 0 !important; }
.icon-flag_hong_kong-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -72px 0 !important; }
.icon-flag_hungary-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -774px 0 !important; }
.icon-flag_iceland-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -936px 0 !important; }
.icon-flag_india-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -36px 0 !important; }
.icon-flag_indonesia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -828px 0 !important; }
.icon-flag_iran-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1566px 0 !important; }
.icon-flag_iraq-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1008px 0 !important; }
.icon-flag_ireland-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -342px 0 !important; }
.icon-flag_israel-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1422px 0 !important; }
.icon-flag_italy-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -234px 0 !important; }
.icon-flag_jamaica-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1494px 0 !important; }
.icon-flag_japan-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -198px 0 !important; }
.icon-flag_kazakhstan-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1512px 0 !important; }
.icon-flag_kenya-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -810px 0 !important; }
.icon-flag_latvia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -288px 0 !important; }
.icon-flag_liechtenstein-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -558px 0 !important; }
.icon-flag_lithuania-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1692px 0 !important; }
.icon-flag_luxembourg-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -792px 0 !important; }
.icon-flag_mexico-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1224px 0 !important; }
.icon-flag_mongolia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -270px 0 !important; }
.icon-flag_mozambique-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -666px 0 !important; }
.icon-flag_namibia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -396px 0 !important; }
.icon-flag_nepal-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1134px 0 !important; }
.icon-flag_netherlands-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -684px 0 !important; }
.icon-flag_new_zealand-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1800px 0 !important; }
.icon-flag_nicaragua-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1152px 0 !important; }
.icon-flag_nigeria-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -504px 0 !important; }
.icon-flag_north_korea-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1170px 0 !important; }
.icon-flag_northern_mariana_islands-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1584px 0 !important; }
.icon-flag_norway-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1782px 0 !important; }
.icon-flag_pakistan-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1674px 0 !important; }
.icon-flag_panama-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -648px 0 !important; }
.icon-flag_paraquay-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -846px 0 !important; }
.icon-flag_peru-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -360px 0 !important; }
.icon-flag_philippines-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1440px 0 !important; }
.icon-flag_poland-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1368px 0 !important; }
.icon-flag_portugal-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1656px 0 !important; }
.icon-flag_puerto_rico-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -882px 0 !important; }
.icon-flag_romania-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -252px 0 !important; }
.icon-flag_russia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1116px 0 !important; }
.icon-flag_scotland-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1476px 0 !important; }
.icon-flag_serbia_montenegro-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1044px 0 !important; }
.icon-flag_slovakia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1548px 0 !important; }
.icon-flag_slovenia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1062px 0 !important; }
.icon-flag_singapore-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -630px 0 !important; }
.icon-flag_south_africa-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -450px 0 !important; }
.icon-flag_south_korea-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1764px 0 !important; }
.icon-flag_spain-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1458px 0 !important; }
.icon-flag_sweden-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1188px 0 !important; }
.icon-flag_switzerland-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1314px 0 !important; }
.icon-flag_tanzania-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -108px 0 !important; }
.icon-flag_trinidad_and_tobago-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -432px 0 !important; }
.icon-flag_turkey-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -954px 0 !important; }
.icon-flag_ukraine-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -162px 0 !important; }
.icon-flag_united_nations-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1746px 0 !important; }
.icon-flag_uruquay-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1242px 0 !important; }
.icon-flag_usa-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -324px 0 !important; }
.icon-flag_venezuela-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -972px 0 !important; }
.icon-flag_vietnam-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -612px 0 !important; }
.icon-flag_zambia-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -1386px 0 !important; }
.icon-flag_zimbabwe-16 { width: 16px; height: 16px; background: url('sprite-flag.png') no-repeat -216px 0 !important; }
