<form action="https://bitpay.com/checkout" method="post" >
    <input type="hidden" name="action" value="checkout" />
    <input type="hidden" name="posData" value="" />
    <label hidden>
        <input type="number" name="price" min="0" step="5" value="5" />
    </label>
    <input type="hidden" name="data" value="i8TNlYByQUfyy7b+TVIwNeXvmmQTZW5uAlZSZzi9UtwML3jOEoCJlSSd2umlfPDhBHYiRawxla3Xyil81gbmgQ6Jx+Pc5jPP7pB51xesaYXf/wgG7czQfziaV5xPewKW949atHX2yJAsRwVKBGMo68Q0e56mGM8MpFLYFezXhoTH4zE6y2SnSPrlEBnfgqWqLEQj96N5QtKpO9vvq32qX62Nc5KQ6A7APM+mK/7farnXevQGGibxbP1ga/cQAplJo+7f0czJ5oNRzwM+RcPn/w==" />
    <input type="image" height="32px" width="83px" src="{{ url_for('static', filename='webed-ext/resources/theme/img/btc-donate.png') }}" border="0" name="submit" alt="Donate with bitcoins." />
</form>