<div id="page" class="contact">
    <form method="post"
          action="{{ url_for ('contact.feedback') }}"
          onsubmit="Ext.getBody ().mask ('Sending ..');">
        <label>Name</label>
        <input class="input" type="text" name="name" placeholder=".." required>
        <label>Email</label>
        <input class="input" type="email" name="mail" placeholder=".." required>

        <textarea class="textarea" name="text" placeholder=".." required></textarea>

        <input type="submit" value="Send">
        <input type="reset" value="Reset">
    </form>
</div>

<div class="footer-sticky">
    {% include 'ssl-seal.html' %}
</div>
