<html>
<head>
    <title>WebEd</title>

    <link rel="shortcut icon"
          href="{{ url_for('static', filename='ico/favicon.ico') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/webed.css') }}" />
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/menu.css') }}" />
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/icons-16.css') }}" />
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/icons-32.css') }}" />
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='lib/extjs/resources/css/ext-all.css') }}" />
</head>

<body>
    <div id="content-wrap">
        <div id="content">{% include 'page.html' %}</div>
    </div>

    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
    {% if debug %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/extjs/ext-all-debug.js') }}"></script>
    {% else %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/extjs/ext-all.js') }}"></script>
    {% endif %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/node-uuid/uuid.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='app/assert.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='app/uuid.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
