<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="keywords" content="{{ keywords|join(',') }}"/>
<meta name="description" content="{{ description }}"/>

{% if title -%}
<title>{{ title }}</title>
{%- else -%}
<title>NoTex - A browser based text editor</title>
{%- endif %}

<link rel="shortcut icon"
      href="{{ url_for('static', filename='ico/favicon.ico') }}">
<link rel="canonical"
      href="{{ canonical }}">

{% if debug -%}
<script type="text/javascript">var _gaq = undefined;</script>
{%- else -%}
<script type="text/javascript">{% include 'analytics-head.js' %}</script>
{%- endif %}

{% if debug -%}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='webed-ext/resources/theme/menu.css') }}" />
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='webed-ext/resources/theme/webed.css') }}" />
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='webed-ext/resources/theme/icons-16.css') }}" />
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='webed-ext/resources/theme/sprite-home.css') }}" />
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='webed-ext/resources/theme/sprite-main.css') }}" />
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='webed-ext/resources/theme/sprite-mime.css') }}" />
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='webed-ext/resources/theme/sprite-tbar.css') }}" />
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='webed-ext/resources/theme/sprite-flag.css') }}" />
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='lib/codemirror/lib/codemirror.css') }}" />
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='lib/codemirror/addon/dialog/dialog.css') }}" />
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='webed-ext/resources/theme/app-%s.css' % theme) }}" />
{% else -%}
{% assets 'theme-%s' % theme -%}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
{% endassets -%}
{% endif -%}

</head>
<body>

<div id="content-wrap">
<div id="content">
    {% include 'page.html' %}
</div>
</div>

{% if debug -%}
<script type="text/javascript"
        src="{{ url_for('static', filename='lib/node-uuid/uuid.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='lib/dmp/javascript/diff_match_patch.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='lib/typojs/typo/typo.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='lib/codemirror/lib/codemirror.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='lib/codemirror/addon/selection/active-line.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='lib/codemirror/addon/edit/matchbrackets.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='lib/codemirror/addon/dialog/dialog.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='lib/codemirror/addon/search/searchcursor.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='lib/codemirror/addon/search/search.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='lib/codemirror/addon/mode/loadmode.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='lib/codemirror/addon/mode/overlay.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='lib/codemirror/mode/meta.js') }}"></script>
{% endif -%}

{% if debug -%}
<script type="text/javascript"
        src="{{ url_for('static', filename='webed-ext/app/assert.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='webed-ext/app/util.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='webed-ext/app/uuid.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='webed-ext/app/mime.js') }}"></script>
{% endif -%}

{% if debug -%}
<script type="text/javascript"
        src="{{ url_for('static', filename='ext/ext-dev.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='webed-ext/app/app.js') }}"></script>
{%- elif True -%}
{%- assets 'all-classes' -%}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets -%}
{%- else -%}
<!-- <x-compile> -->
<!-- <x-bootstrap> -->
<script src="../static/ext/ext-dev.js"></script>
<script src="../static/webed-ext/bootstrap.js"></script>
<!-- </x-bootstrap> -->
<script src="../static/webed-ext/app/app.js"></script>
<!-- </x-compile> -->
{%- endif %}

<script type="text/javascript">
CodeMirror.modeURL = "{{ url_for('static', filename='lib/codemirror/mode/') }}%N/%N.js";
</script>

{% if not debug -%}
<script type="text/javascript">{% include 'analytics-body.js' %}</script>
{%- endif %}

</body>
</html>
