<!DOCTYPE html>
<html>
<head>
    <title>WebEd</title>

    <link rel="shortcut icon"
          href="{{ url_for('static', filename='ico/favicon.ico') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='lib/extjs/resources/css/ext-all.css') }}" />
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='lib/codemirror/lib/codemirror.css') }}" />
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='lib/codemirror/addon/dialog/dialog.css') }}" />
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/menu.css') }}" />
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/webed.css') }}" />
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/icons-16.css') }}" />
</head>

<body>
    <div id="content-wrap">
        <div id="content">{% include 'page.html' %}</div>
    </div>

    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
    {% if debug %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/extjs/ext-dev.js') }}"></script>
    {% else %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/extjs/ext-all.js') }}"></script>
    {% endif %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/node-uuid/uuid.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/typojs/typo/typo.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/codemirror/lib/codemirror.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/codemirror/addon/selection/active-line.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/codemirror/addon/edit/matchbrackets.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/codemirror/addon/dialog/dialog.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/codemirror/addon/search/searchcursor.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/codemirror/addon/search/search.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/codemirror/addon/mode/loadmode.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/codemirror/addon/mode/overlay.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/codemirror/mode/meta.js') }}"></script>
    <script type="text/javascript">
        CodeMirror.modeURL = "{{ url_for('static', filename='lib/codemirror/mode/') }}%N/%N.js";
    </script>

    <script type="text/javascript"
            src="{{ url_for('static', filename='app/assert.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='app/util.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='app/uuid.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='app/mime.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
