<div id="page" class="overview textual">

    <p>Are you tired of fighting Word or LaTex? Now you don’t have to. The browser based text editor NoTex helps you to write your thesis, report or article using a very natural markup, called <em>reStructuredText</em>. Don’t waste time with installation or learning complicated LaTex commands. Get publication quality results in PDF, HTML or Latex using NoTex' graphical UI. Give it a <a href="{{ url_for('.home', theme=theme) }}">try</a> today!</p>

    {% include 'ads/ad-banner.html' %}

    <p>Whether you're a serious author writing lengthy books or a professor or student writing complex reports or articles, NoTex is the editor for you. It allows you to focus on content creation rather than the complex syntax of dated markup languages.</p>

    <hr>
    <h1>Content vs. Presentation<a class="permalink" href="#content-vs-presentation" id="content-vs-presentation">¶</a></h1>

    <p>So what's actually wrong with Word or LaTex? Why consider another editor at all? Here’s why:</p>

    <h2>Word<a class="permalink" href="#word" id="word">¶</a></h2>

    <p>Have you tried to write a book with Word or one of the other office applications? Did you enjoy writing in these word processors? Could you concentrate? Or where you constantly distracted by one of the many presentational issues? Perhaps an image was not perfectly centered, or the distance between the caption and the image was too large or too small? What about the vertical positioning on the page? And so on ...</p>

    <div class="slag slag-rhs">
        <hr>What-you-see-is-what-you-get editors distract<hr>
    </div>

    <p>All you actually wanted to do was to write the next paragraph about the subject at hand. But since it's very easy with Word to get sidetracked with minor presentational issues, the important task does not get done: Producing content! That's the problem with all those <em>what-you-see-is-what-you-get</em> processors: They distract and therefore lower productivity.</p>

    <p>Admittedly, if you just want to write a simple letter complaining about your taxation, then such word processors can be very handy. But the moment you introduce elements like <em>table of contents, footnotes, images, captions, indices, quotations, references, etc.</em>, then these programs quickly reach their boundaries.</p>

    <p>To tackle such distractions and to enable you to write complex content, some very smart people came up with <a target="_blank" href="http://www.latex-project.org/">LaTex</a>. However, that has its own share of problems. Let's investigate:</p>

    <h2>LaTex<a class="permalink" href="#latex" id="latex">¶</a></h2>

    <p>If you've ever used LaTex then you know how complex and difficult its markup language is. This is because you use it <em>not only</em> to express the content, but <em>also</em> to describe the desired presentation.</p>

    <div class="slag slag-lhs">
        <hr>Separate content from presentation<hr>
    </div>

    <p>Its publication quality is truly unbeatable. However, similar to Word, Latex also mixes content production with presentational design: While Word does it on a visual level, LaTex repeats the same mistake in the markup. This is wrong, and should be fixed. There is actually a very nice example, which implements a clean separation: HTML with CSS.</p>

    <h2>HTML with CSS<a class="permalink" href="#html-with-css" id="html-with-css">¶</a></h2>

    <p>This pair is the perfect example to demonstrate the need to separate content from presentation. While HTML focuses on the content (or structure) of a web application, CSS is the magic that turns a dull site into something that looks exciting.</p>

    <p>But HTML with CSS has been designed only for web sites and applications inside browsers. If you ever try to print a web site it will usually look horrid! With CSS it is simply impossible to reach the same quality output of LaTex, since it has not been designed for that purpose.</p>

    <h2>ReStructuredText (rST)<a class="permalink" href="#rst" id="rst">¶</a></h2>

    <div class="slag slag-rhs">
        <hr>Use rST for content<hr>
    </div>

    <p>Here <a target="_blank" href="http://docutils.sourceforge.net/rst.html">reStructuredText</a> enters the arena. This incredible markup allows you to express content without worrying much about presentation. After you've written some rST, you can combine it with LaTex to produce excellent looking books, reports or articles. It's the next generation of content expression! A manuscript that has been crafted with rST is very natural to read (as compared to LaTex manuscripts or HTML code). The emphasis is on being <em>user friendly</em>.</p>

    <p>But how do you combine rST with LaTex? Well, this is what NoTex does: It takes your content expressed in rST, applies a template ‒ described with LaTex ‒ and delivers auto-magically your publication ready output. If you've some LaTex knowledge then you can also edit the templates as you wish.</p>

    <hr>
    <h1>Tutorial<a class="permalink" href="#tutorial" id="tutorial">¶</a></h1>

    <script type="text/javascript">{% include 'start-notex.js' %}</script>

    <p>To learn more, get started with the <a href="{{ url_for('.tutorial', theme=theme) }}">user interface tutorial</a>: It will teach you the basics about NoTex and its UI. You will also get a very brief introduction to rST and write your first report with it. <a onclick="start_notex (this)" href="#" >Click</a> to start it now!</p>

</div>
