<div id="page" class="tutorial textual">

    <p>This tutorial helps you to familiarize yourself with the user interface (UI) of the NoTex editor and guides you through your first reStructuredText (rST) project. The initial part is about the UI in general; so the impatient reader can skip forward to create his <em>first project</em>. New users are strongly encouraged <em>not</em> to skip the UI explanations.</p>

    <hr>
    <h1>User Interface<a class="permalink" href="#ui" id="ui">¶</a></h1>

    <p>At the start the UI is not fully visible; follow this tutorial step by step and you'll end up with a view that looks more or less like this:</p>

    <div class="figure">
        <img class="border-grey" src="{{ url_for('static', filename='webed-ext/resources/theme/img/ui-webed-final.png') }}" alt="NoTex: UI Overview" style="width:auto;">
        <p><strong>NoTex: UI Overview</strong></p>
    </div>

    <p>On the left hand side you see the <em>Project Manager</em> and just below it the <em>Document Search</em> widgets. On top the <em>Main Toolbar</em> is available, below it you have an <em>Image Viewer</em> and two visible instances of the <em>Text Editor</em>. At the bottom the <em>Status Bar</em> offers various functionality.</p>

    <p>On your visit, NoTex presents itself completely different: You see a a large start button in the lower central area, which is obviously used to start the editor:</p>

    <div class="figure">
        <img class="border-grey" src="{{ url_for('static', filename='webed-ext/resources/theme/img/ui-webed-initial.png') }}" alt="Initial UI" style="width:auto;">
        <p><strong>NoTex: Initial UI</strong></p>
    </div>

    <p>Please also notice, besides the <em>Menu</em> on top, the three little icons about <a href="http://notexeditor.blogspot.com/">notexeditor.blogspot.com</a>, where you can find blog posts about many different aspects of NoTex, <a href="http://twitter.com/notexeditor">twitter.com/notexeditor</a>, where you can follow <strong><tt>@notexeditor</tt></strong>, and <a href="http://www.facebook.com/notexeditor">www.facebook.com/notexeditor</a>, where you can express how much you like it.</p>

    <p>Hit the start button, and the editor should start: The side pane with the <em>Project Manager</em> will open, plus the <em>Main Toolbar</em> and the <em>Status Bar</em> will slide in:</p>

    <div class="figure">
        <img class="border-grey" src="{{ url_for('static', filename='webed-ext/resources/theme/img/ui-webed-started.png') }}" alt="NoTex: UI after start" style="width:auto;">
        <p><strong>NoTex: UI after start</strong></p>
    </div>

    <p>The picture shows also the <em>Document Search</em> widget, which you can expand by clicking on the double arrows pointing upwards, visible at the bottom of the <em>Project Manager</em>. Once <em>Document Search</em> is expanded the double arrows will point downwards, allowing you to collapse the widget. Similarly, you can collapse and re-expand the <em>Project Manager</em>, by using the double arrows pointing sidewards, on top of that widget.</p>

    <h2>Project Manager [F9]<a class="permalink" href="#ui-project-manager" id="ui-project-manager">¶</a></h2>

    <p>The <em>Project Manager</em> is a tree widget allowing you to navigate your reports, books, articles or what ever you're working on. Using the F9 shortcut key will expand or collapse it. The widget shows the size of your files in the right most column and aggregates them for folders and projects:</p>

    <div class="figure" style="text-align:center;">
        <img class="border-grey" src="{{ url_for('static', filename='webed-ext/resources/theme/img/ui-project-manager.png') }}" alt="NoTex: Project Manager" style="width:auto;">
        <p><strong>NoTex: Project Manager</strong></p>
    </div>

    <p>Additionally, the manager has full support for different <em>kinds</em> of documents, based on their MIME types. If you hover the mouse over the header of a column an arrow will appear: Click on it, go to the <em>Columns</em> entry on the context menu, and activate the MIME column.</p>

    <h2>Document Search [F10]<a class="permalink" href="#ui-document-search" id="ui-document-search">¶</a></h2>

    <p>If you haven't already done so yet, expand the <em>Document Search</em> widget. Using the F10 shortcut key you can always quickly focus the cursor in the search field: Enter a path or file name (or parts of it) you're looking for, and it will filter the list and show you the corresponding results:</p>

    <div class="figure" style="text-align:center;">
        <img class="border-grey" src="{{ url_for('static', filename='webed-ext/resources/theme/img/ui-document-search.png') }}" alt="NoTex: Document Search" style="width:auto;">
        <p><strong>NoTex: Document Search</strong></p>
    </div>

    <p>In addition to simple text search, it supports also regular expressions: E.g. if you're looking for all documents over all your projects containing <tt>txt</tt> in its filename then do a search simply for <tt>txt</tt>, or if your looking for images ending with the <tt>jpg</tt> extension then do a search for <tt>\.jpg$</tt>. If you want to list all files in the <em>Article</em> project, do a search for <tt>Article/</tt>, or if you look for all JPEG images within the <em>Article</em> project then the <tt>Article/(.*)\.jpg$</tt> search will do.</p>

    <p>Regular expressions are complex beasts; if you're not comfortable using them, just stick to simple text search: In most cases the latter will be more than enough.</p>

    <h2>Text Editor<a class="permalink" href="#ui-text-editor" id="ui-text-editor">¶</a></h2>

    <p>In the <em>Project Manager</em> open <em>Article</em> (either with a single click on the plus sign next to the project's icon, or with a double click on the project's title); then select the <em>content.txt</em> file: A <em>Text Editor</em> tab will be created, allowing you to edit the content.</p>

    <p>The <em>Text Editor</em> has it's own toolbar, which is specialized for the kind of text (or markup) you're working on. Since the current document is based on rST, you see the toolbar with the corresponding buttons:</p>

    <div class="figure" style="text-align:center;">
        <img class="border-grey" src="{{ url_for('static', filename='webed-ext/resources/theme/img/ui-text-editor-rst.png') }}" alt="NoTex: Text Editor" style="width:auto;">
        <p><strong>NoTex: Text Editor (with a toolbar specialized for rST)</strong></p>
    </div>

    <p>If the kind of text (or markup) does not support a specialized toolbar, then it will at least have a generic one, offering you basic functions like <em>undo, redo, cut, copy, paste, case conversion, indentation, split view</em> plus <em>search and replace</em> functions:</p>

    <div class="figure" style="text-align:center;">
        <img class="border-grey" src="{{ url_for('static', filename='webed-ext/resources/theme/img/ui-text-editor-txt-tbar.png') }}" alt="NoTex: Generic Toolbar" style="width:auto;">
        <p><strong>NoTex: Generic Toolbar</strong></p>
    </div>

    <p>Now, on the toolbar for rST click the <em>Horizontal Split</em> button: Another tab will be created containing the same document <em>Article/content.rst</em>. Both tabs are linked, so any change you make in one will immediately be reflected in the other. Then, open the <em>Article/options.yml</em> configuration: A new tab will be created with the corresponding content. Click on associated toolbar the <em>Vertical Split</em> button:</p>

    <div class="figure" style="text-align:center;">
        <img class="border-grey" src="{{ url_for('static', filename='webed-ext/resources/theme/img/ui-text-editor-split.png') }}" alt="NoTex: Splitted Text Editors" style="width:auto;">
        <p><strong>NoTex: Splitted Text Editors</strong></p>
    </div>

    <p>The split views allow you to work on different parts of a document at the same time; or you can work with or compare different documents next to each other without the hassle of changing tabs all the time.</p>

    <h2>Image Viewer<a class="permalink" href="#ui-image-viewer" id="ui-image-viewer">¶</a></h2>

    <p>Open the <em>Article/resource/emcc.jpg</em> file: An <em>Image Viewer</em> instance within its own tab will be created, displaying the image. NoTex is able to show all images for which your browser has the corresponding capability. The <em>Image Viewer</em> does not have a toolbar, so if you want to display an image and work on a text document next to the image, then you have to first open the text document, split it and then open the image file.</p>

    <h2>Status Bar<a class="permalink" href="#ui-statusbar" id="ui-statusbar">¶</a></h2>

    <p>If you've noticed, in the <em>Article/options.yml</em> document some lines wrap at the right edge of the editor, because they are too long. For such cases NoTex allows you to zoom out the document, using the slider on the <em>Status Bar</em>:</p>

    <div class="figure" style="text-align:center;">
        <img class="border-grey" src="{{ url_for('static', filename='webed-ext/resources/theme/img/ui-statusbar.png') }}" alt="NoTex: Statusbar" style="width:auto;">
        <p><strong>NoTex: Status Bar</strong></p>
    </div>

    <p>The <em>Status Bar</em> shows you a message if something goes wrong, or if something is in progress (e.g. an export operation). It has a button that displays the current line and character position (should your cursor be inside a text document): If you click on it, the button will count the number of lines, words and characters for you. Further, you can change the spell check language:

    <div class="figure" style="text-align:center;">
        <img class="border-grey" src="{{ url_for('static', filename='webed-ext/resources/theme/img/ui-statusbar-lingua.png') }}" alt="NoTex: Spell Check Languages" style="width:auto;">
        <p><strong>NoTex: Spell Check Languages</strong></p>
    </div>

    <p>NoTex supports more than 85 language and country pairs. If you select an entry for the first time, it downloads the corresponding dictionary and processes it to enable fast spell checking. With some languages (e.g. Turkish) where the dictionary corpus is large this may take some time. For a dictionary, which has already been downloaded before, the overall time to enable spell checking will be shorter. To disable it just delete the current language, and don't provide any input.</p>

    <p>On the right most position of the <em>Status Bar</em>, you can change the text zoom. The little panel showing the current zoom factor is a button, and by clicking on it you'll reset the current value to 100%. This setting is used only for the display, and does <em>not</em> influence any other functionality (like the font size in PDF exports)!</p>

    <h2>Main Toolbar<a class="permalink" href="#ui-main-toolbar" id="ui-main-toolbar">¶</a></h2>

    <p>The <em>Main Toolbar</em> allows you to work with <em>documents</em>, <em>manage</em> projects (and documents), offers <em>ZIP archiving</em> and <em>export as</em> functionality:</p>

    <div class="figure" style="text-align:center;">
        <img class="border-grey" src="{{ url_for('static', filename='webed-ext/resources/theme/img/ui-mainbar.png') }}" alt="NoTex: Main Toolbar" style="width:auto;">
        <p><strong>NoTex: Main Toolbar</strong></p>
    </div>

    <p>NoTex does not auto-<em>save</em>, but the title of a document indicates if it needs to be saved or not: An italic title shows a document has been edited but not saved yet. <em>Opening</em> a document means uploading a single file from your local machine into the currently selected project. You can create <em>new</em> projects, folders or documents, <em>rename</em> or <em>delete</em> them. You can <em>import</em> a project from a ZIP archive, which has previously been <em>exported</em> as such. Further, you can export projects as <em>PDF</em>, <em>HTML</em>, or <em>LaTex</em>. For now, the latter three exports are available only for rST projects.</p>

    <h2>Themes<a class="permalink" href="#ui-themes" id="ui-themes">¶</a></h2>

    <p>In addition to the standard <a href="https://notex.ch/?theme=blue">blue</a> theme, NoTex is also available in <a href="https://notex.ch/?theme=gray">gray</a>; if you prefer the gray over the blue theme, then we suggest you to bookmark the corresponding link:</p>

    <div class="figure" style="text-align:center;">
        <img class="border-grey" src="{{ url_for('static', filename='webed-ext/resources/theme/img/ui-webed-gray.png') }}" alt="NoTex: UI in Gray Theme" style="width:auto;">
        <p><strong>NoTex: UI in Gray Theme</strong></p>
    </div>

    <p>There is another so called <a href="https://notex.ch/?theme=standard">standard</a> theme, which is not as nice as the blue or gray ones, but it might be relatively faster on certain browsers or slower machines.</p>

    <hr>
    <h1>First Project<a class="permalink" href="#1st-project" id="1st-project">¶</a></h1>

    <p>In the <em>Main Toolbar</em> click either directly the <em>Add</em> button, or the small arrow next to it to select then <em>Project</em>. A generic <em>Add Project</em> box will appear:</p>

    <div class="figure" style="text-align:center;">
        <img class="border-grey" src="{{ url_for('static', filename='webed-ext/resources/theme/img/ui-add-project.png') }}" alt="NoTex: Add Project Box" style="width:auto;">
        <p><strong>NoTex: Add Project Box</strong></p>
    </div>

    <p>Enter a project name, and keep the <em>reStructuredText</em> setting in the second field; confirm. Another box will appear, allowing you to change various aspects of your rST project:</p>

    <div class="figure" style="text-align:center;">
        <img class="border-grey" src="{{ url_for('static', filename='webed-ext/resources/theme/img/ui-add-rest-project.png') }}" alt="NoTex: Add Project Box II" style="width:auto;">
        <p><strong>NoTex: Add Project Box II</strong></p>
    </div>

    <p>Apart from the project field, all the other settings influence the PDF export (which is based on LaTex to perform the actual conversion). Enter your name in the <em>Author(s)</em> field, disable <em>Table of Contents</em> and leave the remaining values unchanged. NoTex creates a new project with the provided name, and fills the <em>options.yml</em> configuration with the values you've just provided.</p>

    <p>The <em>options.yml</em> file is key: It allows you to tweak your PDF and HTML exports in many different ways. Later, please check the links inside the file to learn more about what you can do, and how you can do it! But for now simply copy and paste the following text into <em>content.rst</em> below the project's title:</p>

    <p style="font-family: monospace; font-size: smaller; width: 75%; margin-left: auto; margin-right: auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices feugiat molestie. Donec fermentum massa sit amet nisi sollicitudin vitae sollicitudin erat dapibus. Morbi aliquam elit eget urna pulvinar sit amet euismod orci blandit. Nam id metus elit, in placerat nisl. Donec mattis, lectus sit amet porttitor facilisis, velit tellus tempor dolor, in gravida enim erat eget ligula. Donec suscipit, nibh et consectetur egestas, lacus libero sodales magna, eu faucibus libero eros dictum nibh. Ut non magna libero. Nulla facilisi. Vestibulum mi dui, mollis vel gravida ac, pellentesque a sapien.
    <br><br>
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc rhoncus semper sem, vitae pharetra dolor accumsan non. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer auctor ullamcorper magna, ut aliquet elit iaculis sit amet. Proin mollis risus at ante viverra imperdiet. Nulla faucibus tellus nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In congue aliquet ornare. Etiam sed porta turpis.</p>

    <p>Hit the <em>Export as .. PDF</em> button, and voilà within a few seconds you should have your PDF on your machine! If NoTex' conversion engines are overloaded then you'll be notified; simply retry later.</p>

    <hr>
    <h1>What now?<a class="permalink" href="#what-now" id="what-now">¶</a></h1>

    <p>To learn more about reStructuredText read the <a href="{{ url_for('.rest', theme=theme) }}"><span>rST</span></a> tutorial. Further, play around with the provided <em>Article</em> and <em>Report</em> samples and read the documentation available at the links in <em>options.yml</em>. Definitely check out <a href="http://notexeditor.blogspot.com/">notexeditor.blogspot.com</a>: Subscribe to the blog's RSS to get the latest news, hints and documentation about NoTex!</p>

</div>
