<div id="page-wrap">
<div id="page-wrap-content">

    <div class="container" style="width: 90%; max-width: 896px; font-size: small;">
        <div class="navbar navbar-default" role="navigation" style="margin: 24px 0;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">NoTex.ch</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="{{ 'active' if page == 'home' or page == 'main' }}">
                            <a href="{{ url_for('.home', theme=theme) }}">Home</a>
                        </li>
                        <li class="{{ 'active' if page == 'overview' }}">
                            <a href="{{ url_for('.overview', theme=theme) }}">Overview</a>
                        </li>
                        <li class="{{ 'active' if page == 'tutorial' }}">
                            <a href="{{ url_for('.tutorial', theme=theme) }}">Tutorial</a>
                        </li>
                        <li class="{{ 'active' if page == 'blog' }}">
                            <a href="{{ url_for('.blog', theme=theme) }}">Blog</a>
                        </li>
                        <li class="{{ 'active' if page == 'forum' }}">
                            <a href="{{ url_for('.forum', theme=theme) }}">Forum</a>
                        </li>
                        <li class="{{ 'active' if page == 'faq' }}" style="display: none;">
                            <a href="{{ url_for('.faq', theme=theme) }}"><span>FAQ</span></a>
                        </li>
                        <li class="{{ 'active' if page == 'rest' }}" style="display: none;">
                            <a href="{{ url_for('.rest', theme=theme) }}"><span>rST</span></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{{ 'active' if page == 'contact' }}">
                            <a href="{{ url_for('.contact', theme=theme) }}">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    {% if page == 'main' %}
        {% include 'page/page-home.html' %}
    {% elif page == 'home' %}
        {% include 'page/page-home.html' %}{% include 'ads/ad-medrec.html' %}
    {% elif page == 'overview' %}
        {% include 'page/page-overview.html' %}
    {% elif page == 'tutorial' %}
        {% include 'page/page-tutorial.html' %}
    {% elif page == 'rest' %}
        {% include 'page/page-rest.html' %}
    {% elif page == 'faq' %}
        {% include 'page/page-faq.html' %}
    {% elif page == 'blog' %}
        {% include 'page/page-blog.html' %}
    {% elif page == 'forum' %}
        {% include 'page/page-forum.html' %}
    {% elif page == 'contact' %}
        {% include 'page/page-contact.html' %}
    {% else %}
        {% include 'page/page-generic.html' %}
    {% endif %}
    </div>
</div>
</div>
