<div id="page" class="contact container">

    <form method="post"
          action="{{ url_for ('contact.feedback') }}"
          onsubmit="Ext.getBody ().mask ('Sending ..');">

        <div class="row">
            <div class="col-lg-6">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="text-addon">
                        <span class="icon-user_silhouette-16 link-icon"
                              style="text-decoration: underline;">&nbsp;&nbsp;&nbsp;</span>
                    </span>
                    <input class="form-control" placeholder="Name" tabindex="1"
                           name="name" type="text">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="email-addon">
                        <span class="icon-at_sign-16 link-icon"
                              style="text-decoration: underline;">&nbsp;&nbsp;&nbsp;</span>
                    </span>
                    <input class="form-control" placeholder="Email" tabindex="2"
                           name="mail" type="email">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <textarea class="form-control" placeholder=".." tabindex="3"
                          name="text"></textarea>
            </div>
            <div class="col-lg-6" id="author">
                <span class="v-spacer"></span>
                <span class="v-center">
                    <a href="http://www.linkedin.com/in/hasankarahan" target="_blank">
                        <img src="/static/webed-ext/resources/theme/img/author-1.jpg"
                             data-toggle=tooltip data-placement=auto data-animation=false
                             title="Hasan Karahan, MSc ETH Zurich" /><br/>
                        <span class="caption">
                            <span class="icon-linkedin-16 link-icon"
                                  style="padding-right: 14px;">&nbsp;</span>How can I help you?</span>
                    </a>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="btn-group btn-group-lg">
                <div class="col-lg-6">
                    <button class="btn btn-primary btn-lg btn-block"
                            tabindex="3" name="send" type="submit">Send</button>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-default btn-lg btn-block"
                            tabindex="4" name="reset" type="reset">Reset</button>
                </div>
            </div>
        </div>
    </form>

    <div class="well well-sm">
        <span id="company">
            <a href="http://www.blackhan.com" target="_blank">
                <span class="icon-world_link-16 link-icon"
                      style="padding-right: 14px;">&nbsp;</span>www.blackhan.com</a>
        </span>
        <span id="contact">
            <a href="mailto:contact@blackhan.com" target="_blank">
                <span class="icon-email-16 link-icon"
                      style="padding-right: 14px;">&nbsp;</span>contact@blackhan.com</a>
        </span>
    </div>
</div>

<div class="footer">
    {% include 'ssl-seal.html' %}
</div>
