/*===========================================================================*/

#load-progress {
    position: absolute;
    width: 180px;
    margin: -70px 0 0 -90px;
    height: 140px;
    top: 50%;
    left: 50%;
}

#load-progress .animation {
    background: url(loading.gif) no-repeat;
    position: absolute;
    display: block;
    top: 25px;
    left: 22px;
    width: 120px;
    height: 120px;
}

/*===========================================================================*/

#splash {
    padding: 7.5% 0;
}

#splash div.inner {
    padding: 10% 0;
}

#splash .title {
    text-shadow: #888888 -1.25px -0.75px 2px;
    text-align:center;
    font-weight:bold;
    font-variant:small-caps;
    font-size:12.5em;
    font-family:sans serif;
    color:#f0f0f0;
}

#splash .sub-title {
    margin-left:auto; margin-right: auto; width:66.6%; height:32px;
}

#splash .sub-title hr {
    border: 0;
    height: 2px;
    color: #888888;
    background-color: #888888;
}

#splash .sub-title .text {
    float:left;
    position:relative;
    left:-16px;
    font-weight:bold;
    font-size: 1.25em;
    color:#888888;
}

#splash .link-icon {
    height:16px; width:16px; padding-top:4px;
    text-align:center;
    text-decoration:none;
    color:#ffffff;
}

#splash .information {
    float:left; position:relative; top:-28px;
}

#splash .youtube {
    float:right; position:relative; top:-2px; left:0px;
}

#splash .blogger {
    float:right; position:relative; top:-2px; left:-1px;
}

#splash .twitter {
    float:right; position:relative; top:-2px;
}

#splash .facebook {
    float:right; position:relative; top:-2px;
}

/*===========================================================================*/
